<h1>Bienvenue sur Timterest , vérifiez votre adresse E-mail !</h1>

<p>
    Veuillez confirmez votre E-mail <br><br>
    <a href="{{ signedUrl }}">Confirmer mon adresse </a>.
    This link expires in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci!
</p>
